/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: white;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}



/* CSS untuk Tambahan */
.typed {
  color: #da9eda;
}


.img-container {
  width: 100%;
  height: 100%;
  margin-top: 40px;
}

.text-profile {
  /* background-color:; */
  padding: 30px;
  font-size: 15px;
  line-height: 40px;
  border-radius: 5%;
}

#row-name > h2 {
  text-align: center;
  font-size: 30px;
  letter-spacing: 3px;
}

.img-contact {
  width: 80%;
}

.text-profile > em {
  text-align: justify;
  letter-spacing: 5px;
}

@media(max-width: 800px) {
  .typed {
    color: #4fdb17;
    font-size: 20px;
  }

  .container > a {
    font-size: 20px;
  }
}

/* styling untuk object html */

.section > h1 {
  text-align: center;
  font-size: 200%;
  text-decoration-line: underline;
}

.data {
  margin-bottom: 30px;
}

.col-info > h2{
  font-size: 20px;
}
.col > img {
  height: 100px;
  width: 100px;
  margin-left: 30px;
}

.info> h2 {
  font-size: 40px;
  text-align: center;
}

.info > p {
  text-align: center;
  font-size: 18px;
}

/* styling untuk regex html */
.img-contact-regex {
  width: 20%;
}

.upper-text {
  text-align: center;
  margin-left: 40px;
  /* font-size: 10px; */
}